<table class="table" *ngIf="showTable">
    <thead>
        <tr>
            <th scope="col">Número ruleta</th>
            <th scope="col">Número apostado</th>
            <th scope="col">Color apostado</th>
            <th scope="col">Mónto apostado</th>
            <th scope="col">Número ganador</th>
            <th scope="col">Color ganador</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listBets">
            <th scope="row">{{item.ROULETTE_ID}}</th>
            <th scope="row">{{item.BETNUMBER}}</th>
            <th scope="row">
                <label *ngIf="item.BETCOLOR == 1">Rojo</label>
                <label *ngIf="item.BETCOLOR == 0">Negro</label>
            </th>
            <th scope="row">{{item.AMOUNTMONEY}}</th>
            <th scope="row">{{item.WINNERNUMBER}}</th>
            <th scope="row">
                <label *ngIf="item.WINNERCOLOR == 1">Rojo</label>
                <label *ngIf="item.WINNERCOLOR == 0">Negro</label>
            </th>
        </tr>
    </tbody>
</table>
<div>
    <h1>Crear ruleta</h1>
    <br>
    <button (click)="createRoulette()">Crear ruleta</button>
    <button *ngIf="idRouletteOpen && !showTable" (click)="closeRoulette(idRouletteOpen)">Cerrar apuestas</button>
</div>
<div *ngIf="idRoulette">
    <h1>Número de ruleta creada {{idRoulette}}</h1>
    <br>
    <button (click)="openRoulette(idRoulette)">Apertura de ruleta</button>
</div>

<div *ngIf="idRouletteOpen && mostrarMsj && !showTable">
    <div>
        <label for="msj">Ruleta {{idRouletteOpen}}. Apertura {{mostrarMsj}}</label>
    </div>
</div>

<div class="form" *ngIf="idRouletteOpen && !showTable">
    <label for="msj">Ruleta {{idRouletteOpen}} abierta para apostar.</label>
    <form [formGroup]="form">
        <label for="bet-number">Número a apostar - entre 0 y 36: </label>
        <input id="bet-number" type="text" formControlName="betNumber" maxlength="2">
        <br>
        <label for="bet-color">Color de apuesta: </label>
        <input type="radio" formControlName="betColor" value="0">Negro
        <input type="radio" formControlName="betColor" value="1">Rojo
        <br>
        <label for="amount-money">Mónto de la apuesta: </label>
        <input id="amount-money" type="text" formControlName="amountMoney" maxlength="5">
        <br>
        <button (click)="addBet()" [disabled]="!form.valid">Apostar</button>
    </form>
</div>

<div>
    <h1>Lista ruletas</h1>
    <button (click)="getListRoulettes()">Listar ruletas</button>
    <table class="table" *ngIf="showTableRoulettes">
        <thead>
            <tr>
                <th scope="col">Número ruleta</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listRoulettes">
                <th scope="row">{{item.ROULETTE_ID}}</th>
                <th scope="row">{{item.OPENING}}</th>
                <th scope="row">
                    <label *ngIf="item.OPENING == 1">Abierta</label>
                    <label *ngIf="item.OPENING == 0">Cerrada</label>
                </th>
            </tr>
        </tbody>
    </table>
</div>