.input-form {
    padding-top: 5px;
    padding-bottom: 3px;
}

.form-checkbox {
    padding-right: 5px;
}

.form-button {
    padding-top: 20px;
}

h5 {
    margin: 0rem 0 0rem;
    padding-top: 15px;
    padding-bottom: 2px;
}

h4 {
    margin: 1rem 0 1rem;
}