<div>
    <h1>Lista ruletas</h1>
    <p-table
        [value]="listRoulettes" 
        [paginator]="true" 
        [rows]="10"
        [pageLinks]="3"
        [showCurrentPageReport]="false"
        responsiveLayout="scroll"
        [rowsPerPageOptions]="[10,25,50]"
        [responsive]="true"
        [autoLayout]="true">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" class="header-table-align">Número ruleta</th>
                <th scope="col" class="header-table-align">Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <th scope="row" class="">{{item.ROULETTE_ID}}</th>
                <th scope="row">
                    <label *ngIf="item.OPENING == 1">Abierta</label>
                    <label *ngIf="item.OPENING == 0">Cerrada</label>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
            <span class="float-md-right float-lg-right" style="line-height: 2.2rem !important">
                {{ state.page + 1 }} de {{ state.pageCount }} páginas
            </span>
        </ng-template>
    </p-table>
</div>